{% extends "pages/navwrapper.html" %}
<!-- Navbar -->
{% block body %}

<div class="container">
    <h1>
        POST
    </h1>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="row mt-2 form-group">
            <div class="col-2"></div>
            <h3 class="col-3">{{form.postname.label_tag}}</h3>
            <div class="col-5">
                <div>
                    {{form.postname}}
                </div>
                <div class="text-warning">
                    {{form.postname.errors}}
                </div>
            </div>
        </div>

        <div class="row mt-2 form-group">
            <div class="col-2"></div>
            <h3 class="col-3">{{form.postdescription.label_tag}}</h3>
            <div class="col-5">
                <div>
                    {{form.postdescription}}
                </div>
                <div class="text-warning">
                    {{form.postdescription.errors}}
                </div>
            </div>
        </div>

        <div class="row mt-2 form-group">
            <div class="col-2"></div>
            <h3 class="col-3">{{form.postimage.label_tag}}</h3>
            <div class="col-5">
                <div>
                    {{form.postimage}}
                </div>
                <div class="text-warning">
                    {{form.postimage.errors}}
                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-outline-success col-1 mt-2">Create</button>
        </div>
    </form>
</div>
{% endblock %}