{% extends "pages/navwrapper.html" %}
<!-- Navbar -->
{% load static%}

{% block body %}
<div class="container">
    <div class="rounded-bottom-4 p-4 bg-dark text-light">
        <div class="row">
            <div class="col-2">
                <img class="rounded-3" style="max-width:120px; max-height:120px" src="{{MEDIA_URL}}{{profile_page.profileimage}}" />
            </div>
            <div class="col-3">
                <h3>{{profile_user.username}}</h3>
                <h4>{{profile_user.first_name}}</h4>
                <h4>{{profile_user.last_name}}</h4>
            </div>
            <div class="col-7">
                <p>
                    ABOUT MEOASID ASOSDFOSDNF OSDNFJSDENF OSDNF
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-around p-5">

        <!-- CREATECARD -->
        <a href="#" class="border border-3 border-dark rounded-3 m-2 bg-dark shadow-lg" style="width:180px; height:300px; overflow:clip; text-decoration:none">
            <div class="h-50">
                <img class="h-100 w-100 rounded-top" src="{{MEDIA_URL}}NotFound.jpg" />
            </div>
            <div class="p-1">
                <h2 class="text-info">+CREATE</h2>
            </div>
        </a>
        <!-- /CREATECARD -->
        {%for post in profile_posts%}
        <!-- CARD -->
        <a href="#" class="border border-3 border-dark rounded-3 m-2 bg-dark shadow-lg" style="width:180px; height:300px; overflow:clip; text-decoration:none">
            <div class="h-50">
                <img class="h-100 w-100 rounded-top" src="{{MEDIA_URL}}{{post.postimage}}" />
            </div>
            <div class="p-2">
                <h4 class="text-info">
                    {{post.postname}}
                </h4>
                <p class="text-light">
                    {{post.postdescription}}
                </p>
            </div>
        </a>
        <!-- /CARD -->
        {%endfor%}
    </div>
</div>
{% endblock %}