{% extends "pages/navwrapper.html" %}
<!-- Navbar -->
{% load static%}

{% block body %}
<div class="container">
    <div class="rounded-bottom-4 p-4 mt-5 bg-dark text-light">
        <div class="row">
            <div class="col-2">
                <img class="rounded-3" style="width:120px; height:120px" src="{{MEDIA_URL}}/NotFound.jpg" />
            </div>
            <div class="col-3">
                <h4>firstname</h4>
                <h4>lastname</h4>
            </div>
            <div class="col-7">
                <p>
                    ABOUT MEOASID ASOSDFOSDNF OSDNFJSDENF OSDNF
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-around p-5">

        <!-- CREATECARD -->
        <div class="border border-3 border-dark rounded-3 m-2 bg-dark" style="width:180px; height:300px">
            <a href="#" class="h-100 w-100" style="text-decoration:none">
                <div class="h-50">
                    <img class="h-100 w-100 rounded-top" src="{{MEDIA_URL}}/NotFound.jpg" />
                </div>
                <div class="p-1">
                    <h2 class="text-light">+CREATE</h2>
                </div>
            </a>
        </div>
        <!-- /CREATECARD -->
        {%for i in "0123456789abcdef"|make_list%}
        <!-- CARD -->
        <div class="border border-3 border-dark rounded-3 m-2 bg-dark" style="width:180px; height:300px; overflow:clip">
            <a href="#" class="h-100 w-100" style="text-decoration:none">
                <div class="h-50">
                    <img class="h-100 w-100 rounded-top" src="{{MEDIA_URL}}/NotFound.jpg" />
                </div>
                <div class="p-1">
                    <p class="text-light">
                        aolsdjhfaisjdf aisbdfi  aisdf basidfbiasdubf iasudif baksdbfi ahbifagsdifgi absdif abvisdfiabs iabsdi faiusdfuasbdf aln asdfasd oaiusdhf9asdf aisdf aisdhfi8asd aisdf
                    </p>
                </div>
            </a>
        </div>
        <!-- /CARD -->
        {%endfor%}
    </div>
</div>
{% endblock %}